<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>reset_password</title>
</head>
<body>
<section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card">
                    <div class="card-header text-center">
                        <h4>Reset Password</h4>
                    </div>
                    <div class="card-body">
                        <form action="/reset-password"
                              method="post">
                            <div class="mb-3">
                                <label>New Password</label>
                                <input
                                        type="password"
                                        name="password"
                                        class="form-control"
                                        required>
                            </div>
                            <button class="btn btn-success w-100">Reset Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>